/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  background: #dec0f1;
  font-family: 'Montserrat';
  font-size: 62.5%;
  line-height: 1.25;
}
@media (max-width: 410px) {
  html,
  body {
    min-width: 100%;
  }
}
h1 {
  font-family: 'Permanent Marker';
  color: #5900ff;
  font-size: 4rem;
  font-weight: 500;
  font-style: italic;
}
h2 {
  font-family: 'Permanent Marker';
  color: #5900ff;
  margin: 20px 0;
  font-size: 3rem;
  font-weight: 500;
  font-style: italic;
}
h3 {
  font-family: 'Permanent Marker';
  color: #5900ff;
  margin: 5px 0;
  font-size: 1.8rem;
  font-weight: 500;
  font-style: italic;
}
.button-style {
  padding: 10px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #a0979726;
}
@media (max-width: 1000px) {
  .button-style {
    margin: 0;
  }
}
@media (max-width: 410px) {
  .button-style {
    margin: 0;
    padding: 10px 40px;
  }
}
.header {
  width: 150px;
  height: 100vh;
  margin-left: 5%;
  background: #7161ef;
  position: fixed;
}
@media (max-width: 1000px) {
  .header {
    position: static;
    width: 100%;
    margin: 0;
    height: 65px;
  }
}
@media (max-width: 410px) {
  .header {
    height: 100px;
  }
}
.header nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1000px) {
  .header nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
.header nav .nav1 {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0.2;
  height: 33vh;
}
@media (max-width: 1000px) {
  .header nav .nav1 {
    display: none;
  }
}
.header nav .nav2 {
  position: absolute;
  top: 33vh;
  width: 100%;
  height: 33vh;
  opacity: 0.2;
}
@media (max-width: 1000px) {
  .header nav .nav2 {
    display: none;
  }
}
.header nav .nav3 {
  position: absolute;
  top: 66vh;
  width: 100%;
  height: 33vh;
  opacity: 0.2;
}
@media (max-width: 1000px) {
  .header nav .nav3 {
    display: none;
  }
}
.header nav .sideNav {
  position: relative;
  margin-top: 50px;
  color: #efd9ce;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #a0979726;
}
@media (max-width: 1000px) {
  .header nav .sideNav {
    margin: 0;
  }
}
@media (max-width: 410px) {
  .header nav .sideNav {
    margin: 0;
    padding: 10px 40px;
  }
}
@media (max-width: 1000px) {
  .header nav .sideNav {
    margin: 0;
  }
}
.header2 {
  height: 60px;
  background: #7161ef;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
@media (max-width: 410px) {
  .header2 {
    height: 100px;
  }
}
.header2 .sideNav {
  color: #efd9ce;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: #a0979726;
  margin: 0;
}
@media (max-width: 1000px) {
  .header2 .sideNav {
    margin: 0;
  }
}
@media (max-width: 410px) {
  .header2 .sideNav {
    margin: 0;
    padding: 10px 40px;
  }
}
.header nav .sideNav:hover {
  background: #a0979700;
}
.header2 nav .sideNav:hover {
  background: #a0979700;
}
.mainContent {
  width: calc(90% - 150px);
  margin-right: 5%;
  float: right;
  display: grid;
  grid-template-rows: repeat(8, 150px) 75px;
  grid-template-columns: repeat(5, 1fr);
  border-right: 0.5px dashed #7161ef;
}
@media (max-width: 1000px) {
  .mainContent {
    display: grid;
    grid-template-rows: repeat(6, 150px) 20px 300px 75px;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin: 0;
    border: none;
  }
}
.mainContent .introText {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 6;
}
@media (max-width: 1000px) {
  .mainContent .introText h1 {
    padding: 0;
  }
}
.mainContent .introText .textContain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.mainContent .intro {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  color: #957fef;
}
.introImg {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
}
@media (max-width: 1000px) {
  .introImg {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
.introImg img {
  max-width: 90%;
  max-height: 100%;
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .introImg img {
    padding-top: 150px;
    min-height: 100%;
    width: 100%;
    opacity: 0.2;
  }
}
.introImg .imgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
.introPara1 {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
.introPara1 p {
  font-size: 1.6rem;
  padding-left: 16px;
}
@media (max-width: 1000px) {
  .introPara1 {
    padding-top: 30px;
    font-weight: 500;
  }
}
@media (max-width: 1000px) {
  .introPara1 {
    position: relative;
    z-index: 2;
    padding-left: 5%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .introPara1 h2 {
    margin: 5px 0;
    font-size: 2rem;
  }
  .introPara1 p {
    padding: 0 16px 0 0;
  }
}
.introPara2 {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 6;
}
.introPara2 p {
  font-size: 1.6rem;
  padding-right: 16px;
}
@media (max-width: 1000px) {
  .introPara2 {
    font-weight: 500;
  }
}
@media (max-width: 1000px) {
  .introPara2 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    position: relative;
    z-index: 2;
    padding-left: 5%;
  }
  .introPara2 h2 {
    margin: 5px 0;
    font-size: 2rem;
  }
}
.centerImg {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
}
@media (max-width: 1000px) {
  .centerImg {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
.centerImg img {
  padding: 20px 20px 0 15%;
  width: 100%;
  max-height: 100%;
  opacity: 0.5;
}
@media (max-width: 1000px) {
  .centerImg img {
    padding: 0 5%;
    min-width: 100%;
    opacity: 0.2;
  }
}
.centerText {
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 6;
}
@media (max-width: 1000px) {
  .centerText {
    position: relative;
    z-index: 2;
    padding: 0 10%;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
.centerText p {
  font-size: 1.6rem;
  padding: 0 16px;
}
@media (max-width: 1000px) {
  .centerText p {
    font-weight: 500;
  }
}
.centerText p a {
  color: #5900ff;
}
.contactDets {
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  padding-left: 15px;
  border-top: 0.5px dashed gray;
  border-right: 0.5px dashed gray;
  border-bottom: 0.5px dashed gray;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media (max-width: 1000px) {
  .contactDets {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .contactDets h2 {
    margin: 5px 0 0 0;
  }
}
.contactDets p {
  font-size: 1.6rem;
  padding: 0 16px;
}
.phoneImg {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 3;
}
@media (max-width: 1000px) {
  .phoneImg {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.phoneImg img {
  opacity: 0.2;
  width: 70%;
}
@media (max-width: 1000px) {
  .phoneImg img {
    width: 100%;
    max-height: 100%;
  }
}
.top2Staff {
  margin: 50px 10% 0 10%;
  width: 80%;
}
@media (max-width: 1000px) {
  .top2Staff {
    margin: 50px 0 0 0;
    width: 100%;
  }
}
.top2Staff .jasmine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1000px) {
  .top2Staff .jasmine {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.top2Staff .jasmine .imgContainer {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.top2Staff .jasmine .imgContainer img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}
.top2Staff .jasmine .PLtext {
  width: calc(100% - 200px);
  padding: 0 45px;
}
@media (max-width: 1000px) {
  .top2Staff .jasmine .PLtext {
    padding: 20px 0 0 0;
    width: 90%;
    margin: 0 5%;
  }
}
.top2Staff .jasmine p {
  font-size: 1.6rem;
}
.top2Staff .jasmine h1 span {
  font-family: "Montserrat";
  color: #957fef;
  font-size: 2.5rem;
}
.top2Staff .corey {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1000px) {
  .top2Staff .corey {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.top2Staff .corey .imgContainer2 {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.top2Staff .corey .imgContainer2 img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}
.top2Staff .corey .BEtext {
  width: calc(100% - 200px);
  padding: 0 45px;
}
@media (max-width: 1000px) {
  .top2Staff .corey .BEtext {
    padding: 20px 0 0 0;
    width: 90%;
    margin: 0 5%;
  }
}
.top2Staff .corey p {
  font-size: 1.6rem;
}
.top2Staff .corey h1 span {
  font-family: "Montserrat";
  color: #957fef;
  font-size: 2.5rem;
}
.frontEndStaff {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.frontEndStaff .ashley {
  width: 45%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  .frontEndStaff .ashley {
    width: 100%;
    margin: 0;
    padding-top: 30px;
    border-top: 1px dashed #b79ced;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.frontEndStaff .ashley .FE_text {
  width: calc(100% - 200px);
  padding-left: 15px;
}
@media (max-width: 1000px) {
  .frontEndStaff .ashley .FE_text {
    width: 90%;
    margin: 0 5%;
    padding: 0;
  }
}
.frontEndStaff .ashley p {
  font-size: 1.6rem;
}
.frontEndStaff .ashley h1 span {
  font-family: "Montserrat";
  color: #957fef;
  font-size: 2.5rem;
}
.frontEndStaff .ashley .FEimg {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.frontEndStaff .ashley .FEimg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}
.frontEndStaff .shya {
  width: 45%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  .frontEndStaff .shya {
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.frontEndStaff .shya .FE_1_text {
  width: calc(100% - 200px);
  padding-left: 15px;
}
@media (max-width: 1000px) {
  .frontEndStaff .shya .FE_1_text {
    width: 90%;
    margin: 0 5%;
    padding: 0;
  }
}
.frontEndStaff .shya p {
  font-size: 1.6rem;
}
.frontEndStaff .shya h1 span {
  font-family: "Montserrat";
  color: #957fef;
  font-size: 2.5rem;
}
.frontEndStaff .shya .FEimg1 {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.frontEndStaff .shya .FEimg1 img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}
.UIStaff {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.UIStaff .adam {
  width: 45%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1000px) {
  .UIStaff .adam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 30px;
    border-top: 1px dashed #b79ced;
  }
}
.UIStaff .adam .uiText {
  width: calc(100% - 200px);
  padding-left: 15px;
}
@media (max-width: 1000px) {
  .UIStaff .adam .uiText {
    width: 90%;
    padding: 0;
    margin: 0 5%;
  }
}
.UIStaff .adam p {
  font-size: 1.6rem;
}
.UIStaff .adam h1 span {
  font-family: "Montserrat";
  color: #957fef;
  font-size: 2.5rem;
}
.UIStaff .adam .uiImg {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.UIStaff .adam .uiImg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}
.UIStaff .jeremy {
  width: 45%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1000px) {
  .UIStaff .jeremy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 30px;
  }
}
.UIStaff .jeremy .uiText_1 {
  width: calc(100% - 200px);
  padding-left: 15px;
}
@media (max-width: 1000px) {
  .UIStaff .jeremy .uiText_1 {
    width: 90%;
    margin: 0 5%;
    padding: 0;
  }
}
.UIStaff .jeremy p {
  font-size: 1.6rem;
}
.UIStaff .jeremy h1 span {
  font-family: "Montserrat";
  color: #957fef;
  font-size: 2.5rem;
}
@media (max-width: 1000px) {
  .UIStaff .jeremy h1 h1 {
    font-size: 2rem;
  }
  .UIStaff .jeremy h1 h1 span {
    font-size: 1.8rem;
  }
}
.UIStaff .jeremy .uiImg_1 {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.UIStaff .jeremy .uiImg_1 img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
}
.footer {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 6;
}
.footer p {
  font-size: 1rem;
}
.footer .footerContentBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.aboutFooter {
  height: 60px;
  background: #7161ef;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
