.top2Staff {
    margin: 50px 10% 0 10%;
    width: 80%;
    @media @tablet {
        margin: 50px 0 0 0;
        width: 100%;
    }
    .jasmine {
        .displayF(row, wrap, flex-start, center);
        @media @tablet {
            width: 100%;
            .displayF(column, wrap, space-between, center);
        }
        .imgContainer {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100px;
            }
        }
        .PLtext {
            width: calc(100% - 200px);
            padding: 0 45px;
            @media @tablet {
                padding: 20px 0 0 0;
                width: 90%;
                margin: 0 5%;
            }
        }
        p {
            font-size: 1.6rem;
        }
        h1 {
            span {
                font-family: "Montserrat";
                color: #957fef;
                font-size: 2.5rem;
            }
        }
    }

    .corey {
        margin-top: 50px;
        .displayF(row, wrap, flex-start, center);
        @media @tablet {
            width: 100%;
            .displayF(column, wrap, space-between, center);
        }
        .imgContainer2 {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100px;
            }
        }
        .BEtext {
            width: calc(100% - 200px);
            padding: 0 45px;
            @media @tablet {
                padding: 20px 0 0 0;
                width: 90%;
                margin: 0 5%;
            }
        }
        p {
            font-size: 1.6rem;
        }
        h1 {
            span {
                font-family: "Montserrat";
                color: #957fef;
                font-size: 2.5rem;
            }
        }
    }
}

.frontEndStaff {
    width: 100%;
    margin-top: 50px;
    .displayF(row, wrap, flex-start, center);
    .ashley {
        width: 45%;
        margin-left: 5%;
        .displayF(row, wrap, flex-start, flex-start);
        @media @tablet {
            width: 100%;
            margin: 0;
            padding-top: 30px;
            border-top: 1px dashed #b79ced;
            .displayF(column, wrap, space-between, center);
        }
        .FE_text {
            width: calc(100% - 200px);
            padding-left: 15px;
            @media @tablet {
                width: 90%;
                margin: 0 5%;
                padding: 0;
            }
        }
        p {
            font-size: 1.6rem;
        }
        h1 {
            span {
                font-family: "Montserrat";
                color: #957fef;
                font-size: 2.5rem;
            }
        }
        .FEimg {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100px;
            }
        }
    }

    .shya {
        width: 45%;
        margin-right: 5%;
        .displayF(row, wrap, flex-start, flex-start);
        @media @tablet {
            width: 100%;
            margin: 50px 0 0 0;
            .displayF(column, wrap, space-between, center);
        }
        .FE_1_text {
            width: calc(100% - 200px);
            padding-left: 15px;
            @media @tablet {
                width: 90%;
                margin: 0 5%;
                padding: 0;
            }
        }
        p {
            font-size: 1.6rem;
        }
        h1 {
            span {
                font-family: "Montserrat";
                color: #957fef;
                font-size: 2.5rem;
            }
        }
        .FEimg1 {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100px;
            }
        }
    }
}

.UIStaff {
    width: 100%;
    margin-top: 50px;
    .displayF(row, wrap, flex-start, center);
    .adam {
        width: 45%;
        margin-left: 5%;
        .displayF(row, wrap, flex-start, center);
        @media @tablet {
            .displayF(column, wrap, space-between, center);
            width: 100%;
            margin: 0;
            padding-top: 30px;
            border-top: 1px dashed #b79ced;
        }
        .uiText {
            width: calc(100% - 200px);
            padding-left: 15px;
            @media @tablet {
                width: 90%;
                padding: 0;
                margin: 0 5%;                
            }
        }
        p {
            font-size: 1.6rem;
        }
        h1 {
            span {
                font-family: "Montserrat";
                color: #957fef;
                font-size: 2.5rem;
            }
        }
        .uiImg {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100px;
            }
        }
    }

    .jeremy {
        width: 45%;
        margin-right: 5%;
        .displayF(row, wrap, flex-start, center);
        @media @tablet {
            .displayF(column, wrap, space-between, center);
            width: 100%;
            margin: 0;
            padding-top: 30px;
        }
        .uiText_1 {
            width: calc(100% - 200px);
            padding-left: 15px;
            @media @tablet {
                width: 90%;
                margin: 0 5%;
                padding: 0;
            }
        }
        p {
            font-size: 1.6rem;
        }
        h1 {
            span {
                font-family: "Montserrat";
                color: #957fef;
                font-size: 2.5rem;
            }
            @media @tablet{
                h1 {
                    font-size: 2rem;
                    span {
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .uiImg_1 {
            height: 200px;
            width: 200px;
            border-radius: 100px;
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 100px;
            }
        }
    }
}