.mainContent{
    width: calc(100% - 150px);
    float: right;
    .gridStart(repeat(10, 1fr), repeat(5, 1fr));
    border-right: 1.5px dashed black;
    
    .introText {
        .gridAlign(1, 2, 1, 6);
        text-align: center;
        border: .5px dashed gray;
        span {
            font-family: 'Montserrat';
            font-weight: normal;
            font-style: normal;
            font-size: 1.8rem;
            color: #957fef;
        }
    }

    .introPara1 {
        p {
            font-size: 1.6rem;
            padding-left: 16px;
        }

        border: .5px dashed gray;
        .gridAlign(2, 5, 1, 2)
    }

    .introImg {
        .gridAlign(2, 5, 2, 5);
        border: .5px dashed gray;
        img {
            padding: 0 1%;
            width: 100%;
            max-height: 100%;
            opacity: .4;
        }
    }

    .introPara2 {
        p {
            font-size: 1.6rem;
            padding-right: 16px;
        }

        .gridAlign(2, 5, 5, 6);
    }

    .centerImg {
        .gridAlign(5, 8, 1, 4);
        border: .5px dashed gray;
        img {
            padding: 20px 15px 0 15px;
            width: 100%;
            max-height: 100%;
            opacity: .5;
        }
    }

    .centerText {
        .gridAlign(5, 8, 4, 6);
        p {
            font-size: 1.6rem;
            padding: 0 16px;
            a {
                color: #5900ff;
            }
        }
    }
}